<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <script type="text/javascript" src="/Contents/js/jquery1.4.js"></script>
    <title>教育与经济社会数据发展平台</title>
    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="/Contents/style/basic.css" />
    <link rel="stylesheet" type="text/css" href="/Contents/style/index.css" />
    <script type="text/javascript" src="/Contents/js/bioV4.min.js"></script>
    <script type="text/javascript" src="/Contents/js/jquery.lazyload.mini.js"></script>
    <link rel="stylesheet" type="text/css" href="/Contents/style/comment.css" />
    <script type="text/javascript" src="/Contents/js/function.js"></script>
    <!--[if IE 6]>
    <script type="text/javascript" src="/Contents/js/DD_belatedPNG.js"></script>
    <script type="text/javascript">
    DD_belatedPNG.fix('img,.ie6png');
    </script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="/Contents/style/biobox2.css" />
    <script type="text/javascript" src="/Contents/js/biobox.js"></script>
</head>
<body>
    <script type="text/javascript" src="/Contents/js/borsertocss.js"> </script>
    <!-- 判断在IE9以下浏览器中根据像素的不同而设置的样式 -->
    @RenderBody()
    <!--头部代码开始-->
    <div class="navbar navbar-fixed-top" style="_position: relative; _z-index: 10000;">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span
                    class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a>
                <div class="nav-collapse">
                    <ul class="nav" id="navID">
                        <li class="active"><a href="#"><b>首页</b></a></li>
                        <li class=""><a href="#"><b>教育经济数据库</b></a></li>
                        <li class=""><a href="#"><b>国际数据库</b></a></li>
                        <li class=""><a href="#"><b>国际数据报告</b></a></li>
                        <li class=""><a href="#"><b>专题数据库</b></a></li>
                        <li class=""><a href="#"><b>指标解释</b></a></li>
                        <li class=""><a href="#"><b>最新动态</b></a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
                <ul class="nav pull-right login-none nav-tips">
                    <li class="ie6png divider-vertical" style="_width: 30px; _height: 40px; _background: url(/Contents/images/icons.png) no-repeat 10px -106px;">
                        <a class="dropdown-toggle clearfix" href="javascript:;" style="padding: 7px 5px;">
                            <img class="logo-before pull-left" src="/Contents/images/avatar-icon.png" /></a></li>
                </ul>
                <div class="popup-div tips-div" style="position: absolute; z-index: 10000001; display: none;">
                </div>
                <script type="text/javascript">
                    var tip_show = 1;
                    //头部下拉
                    var timer1 = "";
                    $('#dropdownID-0').hover(function () {
                        var obj = $(this);
                        if (timer1) {
                            clearTimeout(timer1);
                        }
                        timer1 = setTimeout(function () {
                            obj.find('.dropdown-menu').show();
                            tip_show = 0;
                            $(".tips-div").hide();
                            obj.find('.other-icon').css({ "background": "#2E2E2E" });
                        }, 500);
                    }, function () {
                        var obj = $(this);
                        if (timer1) {
                            clearTimeout(timer1);
                        }
                        timer1 = setTimeout(function () {
                            obj.find('.dropdown-menu').hide();
                            $(".tips-div").hide();
                            tip_show = 1;
                            getTips();
                            obj.find('.other-icon').css({ "background": "none" });
                        }, 500);
                    });

                    var timer2 = "";
                    $('#dropdownID-1').hover(function () {
                        var obj = $(this);
                        if (timer2) {
                            clearTimeout(timer2);
                        }
                        timer2 = setTimeout(function () {
                            obj.find('.dropdown-menu').show();
                            tip_show = 0;
                            $(".tips-div").hide();
                            obj.find('.other-icon').css({ "background": "#2E2E2E" });
                        }, 500);
                    }, function () {
                        var obj = $(this);
                        if (timer2) {
                            clearTimeout(timer2);
                        }
                        timer2 = setTimeout(function () {
                            obj.find('.dropdown-menu').hide();
                            tip_show = 1;
                            getTips();
                            $(".tips-div").hide();
                            obj.find('.other-icon').css({ "background": "none" });
                        }, 500);
                    });
                </script>
                <ul class="nav pull-right pl-20 myul">
                    <li class="l10"><a href="#">登录</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="top-div">
        <div class="container clearfix">
            <div class="span3 logo-div logo-img" style="margin-left: 0px;">
                <a href="#" title="">
                    <img src="/Contents/images/gb_logo.png" class="ie6png" style="display: block;" /></a>
            </div>
        </div>
    </div>
    <!--头部代码结束-->
    <div class="hr tp-div-nexthr" style="margin-top: 0; margin-bottom: 0; padding: 0;"></div>

    <div class="container pb-15">
        
    </div>
    <!-- /container -->
    <div class="container">
        <div class="hr">
        </div>
    </div>
    <!-- /container -->
    <div class="footer">
        <div class="clearfix" style="background: #EDEDED;">
            <ul class="about-ul">
                <li>客服电话 400-100-8884</li>
                <li><span>|</span></li>
                <li><a title="广告投放" href="javascript:;" class="fc666" target="_blank">广告投放</a></li>
                <li><span>|</span></li>
                <li id="zk_btn" class="ie6png down-class"><a title="友情链接" href="javascript:void(0);"
                    class="fc666">友情链接</a> </li>
                <div class="clear">
                </div>
            </ul>
        </div>
        <div class="friend-link border-all t-20 b-20">
            <ul class="clearfix">
            </ul>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                var flag = 0;
                $(".friend-link").hide();
                //Down
                $("#zk_btn").click(function () {
                    if (flag == 0) {
                        $(".friend-link").slideDown(400);
                        $(this).removeClass('down-class');
                        $(this).addClass('up-class');
                        $("html,body").animate({ scrollTop: ($(".friend-link").offset().top + 2000) }, 600);
                        flag = 1;
                    } else {
                        $(".friend-link").slideUp(400);
                        $(this).removeClass('up-class');
                        $(this).addClass('down-class');
                        flag = 0;
                    }
                });
            });
        </script>
        <p>
            Copyright ©2013 中国教育科学研究院</p>
    </div>
    <script type="text/javascript">
        //回到顶部
        backToTop('body');
    </script>
</body>
</html>
