@{
    ViewBag.Title = "角色管理";
    Layout = "~/Areas/Admin/Views/Shared/Content_Layout.cshtml";
}
<table id="dg" class="easyui-datagrid" style="width:100%;margin:0px"
                    url="@Url.Action("Index", new { page=1,rows=10})"
                    toolbar="#toolbar" pagination="true"
                    rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
        <tr>
            <th field="ck" checkbox="true">
            </th>
            <th field="RoleID" hidden="true">
                编号
            </th>
            <th field="RoleName" width="50">
                角色名称
            </th>
        </tr>
    </thead>
</table>
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true"id="add_">新建</a> 
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit"plain="true" id="edit_">编辑</a> 
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" id="delete_">删除</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-more" plain="true" id="set_rights">设定权限</a>
</div>

<div id="dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
        closed="true" buttons="#dlg-buttons">
    <div class="ftitle">角色管理</div>
    <form id="fm" class="fm" method="post" novalidate>
        <div class="fitem">
            <label>角色名称:</label>
            <input name="RoleName" class="easyui-textbox" required="true">
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" id="btn_Confirm_" style="width:95px">确定</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
</div>
<div id="set_rights_dlg" class="easyui-dialog" style="width:400px;height:280px;padding:10px 20px"
        closed="true" buttons="#set_rights_dlg-buttons">
    <div class="ftitle">角色管理</div>
    <form id="fm" class="fm" method="post" novalidate>
        <div class="fitem">
            <label>角色名称:</label>
            <input name="RoleName" class="easyui-textbox" required="true">
        </div>
    </form>
</div>
<div id="set_rights_dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" id="btn_Confirm_set_rights" style="width:95px">确定</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">取消</a>
</div>
<script type="text/javascript" src="/Areas/Admin/Scripts/viewjs/roles.js"></script>